:root {
  --bg-color: #ffffff; /* Default background color */
  --accent-color_1: #3498db; /* Default accent color */
  --accent-color_2: #000000; /* Default accent color */
}
body{
  transition: background 1s, transform 1s;
  background-color: var(--bg-color);
}
p {
  color: var(--accent-color_2);
}
h1{
  color:var(--accent-color_2)
}
.center_box {
  margin: 10px auto;
  max-width: 400px;
  border: 3px solid black;
  padding: 10px;
  background-color:var(--accent-color_1);
  transition: background 0.5s, transform 0.5s;
  color: var(--accent-color_2);
  text-align: center;
}
.bordered-box {
  border: 2px solid black;
  margin: 10px 0;
  transition: background 0.5s, transform 0.5s;
  margin: 40px auto;
  max-width: 600px;
}

.bordered-box:hover {
  transform: scale(1.05);
  background-color: white;
  color: var(--accent-color_2);
}

.box {
  transition: background 0.3s, transform 0.3s;
}

.box:hover {
  background: orange;
  transform: scale(1.05);
}

.thick-box {
  border: 20px solid black;
  opacity: 1;
  padding: 15px;
  margin: 15% 15%;
  transition: background 0.5s, transform 0.5s;
}

.thick-box:hover {
  transform: scale(1.05);
}

table,
td {
  border: 1px solid black;
  padding: 6px;
}
tr:hover{
  background-color:aqua;
}
tr:nth-child(even) {
  background-color:#2ec1db;

}
blockquote {
  border-left: 4px solid #2ec1db;
  padding-left: 10px;
  color: var(--accent-color_2);
  font-style: italic;
}

a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
ul {
  list-style-type:none;
  margin: 50%,50%;
  padding: 0;
  overflow: hidden;
  background-color: var(--accent-color_1);
  border: 1px solid black;
}

li {
  float:none;
  border: 1px solid black;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
button{
  transition: background-color 0.2s ease;
}
button:hover{
  background-color: var(--accent-color);
  transform: scale(1.05); 
}
#dynamic_box{
  padding: 1% 1%;
}
#cool_button{
  background-color: var(--bg-color);
  color: var(--accent-color_2);
  padding: 15px 32px;
  position: relative;
  transition: border 1s,transform 1s;
  transition: background 1s, color 1s;
  transform: rotate(0deg);
  align-self: center;
  cursor: pointer;
  border: 0px solid var(--accent-color_2);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cool_button::before{
  content: "";
  position: absolute;
  inset: -15%;
}
#cool_button:hover{
  transition: border .5s,transform 1s;
  transform: rotate(360deg);
  border:1px solid var(--accent-color_2);
  color: var(--accent-color_1);
  background-color: var(--bg-color);
}
#spinny_spin{
  animation: spin 4s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
