body {
    background-color: whitesmoke;
}

/* global styles here if needed */
.bordered-box {
    border: 2px solid black;
    padding: 10px;
    margin: 10px 0;
    transition: background 0.5s, transform 0.5s;
    margin: 40px auto;
    max-width: 600px;
}

.bordered-box:hover {
    transform: scale(1.05);
    background-color: white;
    color: blueviolet;
}

.box {
    transition: background 0.3s, transform 0.3s;
}

.box:hover {
    background: orange;
    transform: scale(1.05);
}

.thick-box {
    border: 20px solid black;
    opacity: 0.67;
    padding: 15px;
    margin: 15% 15%;
    transition: background 0.5s, transform 0.5s;
}

.thick-box:hover {
    transform: scale(1.05);
}




blockquote {
    border-left: 4px solid #2ec1db;
    padding-left: 10px;
    color: #080808;
    font-style: italic;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}