
/* global styles here if needed */
.bordered-box {
  border: 2px solid black;
  padding: 10px;
  margin: 10px 0;
  transition: background 0.5s, transform 0.5s;
  margin: 40px auto;
  max-width: 600px;
}

.bordered-box:hover {
  transform: scale(1.05);
  background-color: white;
  color: blueviolet;
}

.box {
  transition: background 0.3s, transform 0.3s;
}

.box:hover {
  background: orange;
  transform: scale(1.05);
}

.thick-box {
  border: 20px solid black;
  opacity: 0.67;
  padding: 15px;
  margin: 15% 15%;
  transition: background 0.5s, transform 0.5s;
}

.thick-box:hover {
  transform: scale(1.05);
}

table,
td {
  border: 1px solid black;
  padding: 6px;
}
tr:hover{
  background-color:aqua;
}
tr:nth-child(even) {
  background-color:#2ec1db;

}
blockquote {
  border-left: 4px solid #2ec1db;
  padding-left: 10px;
  color: #080808;
  font-style: italic;
}

a:link {
  color: rgb(6, 59, 231);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #51bbce;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
button{
  transition: background-color 0.2s ease;
}
button:hover{
  background-color:lightblue;
}